.list-item {
  height: 440px;
  margin: 10px;
  @media screen and (min-width: 768px){
      margin: 15px; 
      width: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1024px){
      width: calc((100% - 6 * 15px) / 3);
  }
}

.movie-gallery {
  padding: 20px 0 40px;
  @media screen and (min-width: 768px) {
    padding: 60px 0 50px;
  }
}
.movies-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
  @media screen and (min-width: 768px) {
    margin: -15px;
    justify-content: flex-start;
  }
}

.poster-img {
  width: 280px;
  height: 402px;
  border-radius: 5px;
  margin: 0 0 10px;
  display: block;

  @media screen and (min-width: 768px) {
    width: 294px;
    height: 398px; 
  }    
  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}

.movie-card-short-info {
  height: 32px;
}

.movie-card-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.movie-card-text {
	display: flex;
	align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: capitalize;
  color: $accent-color;
}

.avg-rating {
  display: flex;
	justify-content: center;
  align-items: center;
	margin-left: 10px;
  min-width: 36px;
  height: 16px;
  line-height: 1.167;
  color: $white;
  background-color: $avg-rating-color;
	border-radius: 5px;
}